bitsandbytes
click
einops
lightning
mlflow
numpy
pydantic
opencv-python
orjson
pytorch-metric-learning
pyyaml
scikit-learn
sign-language-tools @ git+https://github.com/ppoitier/sign-language-tools/tree/dev
tensorboard
torch
torchmetrics
torchvision
tqdm
webdataset