datasets:
  training:
    shards_url: "file:E:/datasets/sign-language/lsfb-isol/shards/500/shard_{000000..000003}.tar"
    loader:
      batch_size: 128
      shuffle: true
      num_workers: 0
    preprocessing:
      pose_transforms_pipeline: "concat+norm+temporal-crop+padding+flatten"

  validation:
    shards_url: "file:E:/datasets/sign-language/lsfb-isol/shards/500/shard_000004.tar"
    loader:
      batch_size: 128
      shuffle: False
      num_workers: 0
    preprocessing:
      pose_transforms_pipeline: "concat+norm+temporal-crop+padding+flatten"

  testing:
    shards_url: "file:E:/datasets/sign-language/lsfb-isol/shards/500/shard_000004.tar"
    loader:
      batch_size: 128
      shuffle: false
      num_workers: 0
    preprocessing:
      pose_transforms_pipeline: "concat+norm+temporal-crop+padding+flatten"

model:
  backbone:
    type: 'spoter'
    input_features: 'poses'
    args:
      c_in: 130
      c_hidden: 128
      max_sequence_lengths: 64
      n_heads: 8
      n_encoder_layers: 6
      n_decoder_layers: 6
      dim_feedforward: 2048
      dropout: 0.1

  projector:
    type: "mlp"
    args:
      in_channels: 128
      out_channels: 128
      hidden_channels: 512

  linear_evaluation_head:
    type: "linear"

contrastive_training:
  criterion:
    classification:
      name: "cross-entropy"
      use_weights: false
  max_epochs: 500
  n_warmup_epochs: 50
  early_stopping_patience: 30
  learning_rate: 1e-3
  is_output_multilayer: false
  n_classes: 500
  overfit_one_batch: false
  checkpoint_path: "D:/data/sign-languages/outs/slp2/contrastive-isolated-recognition/checkpoints/cislr_lsfb/lsfb500/spoter/epoch=90-step=51870.ckpt"

linear_evaluation_training:
  criterion:
    classification:
      name: "cross-entropy"
      use_weights: false
  max_epochs: 300
  n_warmup_epochs: 50
  early_stopping_patience: 50
  learning_rate: 1e-3
  is_output_multilayer: false
  n_classes: 500
  overfit_one_batch: false

experiment:
  id: "cislr"
  suffix: "lsfb/lsfb500/spoter"
  seed: 'random'
  output_dir: "D:/data/sign-languages/outs/slp2/contrastive-isolated-recognition"
  mlflow_uri: "http://127.0.0.1:8142"
  show_progress_bar: true
  debug: false

skip_contrastive_training: true
